<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-content">
      <h2 class="footer-title-text">
        <span class="section-title-span">Chocolate</span>
        a delicious cure for a bad day
      </h2>
      <div class="footer-contacts">
        <address class="address-footer">
          <p class="title-contacts-footer">Contact us</p>
          <ul class="site-address-footer">
            <li class="item-contacts">
              <a class="address-nav-footer" href="tel:+110001111111">+380 (68) 443-94-26</a>
            </li>
            <li class="item-address-footer">
              <a class="address-nav-footer" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>

        <div class="footer-socials">
          <ul class="socials-list-footer">
            <li class="socials-item-footer">
              <a class="socials-link-footer" href="https://www.instagram.com/"><svg class="socials-icon-footer">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg></a>
            </li>
            <li class="socials-item-footer">
              <a class="socials-link-footer" href="https://twitter.com/?lang=ru">
                <svg class="socials-icon-footer">
                  <use href="/img/sprite.svg#icon-twitter"></use>
                </svg></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="footer-navigation">
      <ul class="site-nav-footer">
        <li class="item-nav-footer">
          <a class="navigation-link-footer navigation-first-link-footer" href="#header">Home</a>
        </li>
        <li class="item-nav-footer">
          <a class="navigation-link-footer" href="#how-its-made">How it's made?</a>
        </li>
        <li class="item-nav-footer">
          <a class="navigation-link-footer" href="#our-products">Our products</a>
        </li>
        <li class="item-nav-footer">
          <a class="navigation-link-footer" href="#top-sellers">Top sellers</a>
        </li>
        <li class="item-nav-footer">
          <a class="navigation-link-footer" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>