<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <a class="footer-a-text">
                <span class="orange-text">Chocolate</span>
                a delicious cure for a bad day</a>
            <div class="footer-contacts">


                <address class="address-footer">
                    <a class="a-contacts-footer">Contact us</a>
                    <ul class="site-address-footer">
                        <li class="item-contacts">
                            <a class="address-nav-footer" href="tel:+110001111111">+380 (68) 443-94-26</a>
                        </li>
                        <li class="item-address-footer">
                            <a class="address-nav-footer" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </address>

                <div class="footer-socials">
                    <ul class="socials-list-footer">
                        <li class="socials-item-footer">
                            <a class="socials-link-footer" href="#"><svg class="socials-icon-footer">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg></a>
                        </li>
                        <li class="socials-item-footer">
                            <a class="socials-link-footer" href="#"><svg class="socials-icon-footer">
                                    <use href="./images/icons.svg#icon-twitter"></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <nav class="footer-navigation">
            <a class="navigation-link-footer" href=""></a>
            <ul class="site-nav-footer">
                <li class="item-nav-footer">
                    <a class="navigation-link-footer" href="">Home</a>
                </li>
                <li class="item-nav-footer">
                    <a class="navigation-link-footer" href="">How it's made?</a>
                </li>
                <li class="item-nav-footer">
                    <a class="navigation-link-footer" href="">Our products</a>
                </li>
                <li class="item-nav-footer">
                    <a class="navigation-link-footer" href="">Top sellers</a>
                </li>
                <li class="item-nav-footer">
                    <a class="navigation-link-footer" href="">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>