
<!-- Логотип -->

<header class="header">

    <div class="container">

      <a class="header-logo" href="./index.html">SIMPLY CHOCOLATE
      
        <svg class="header-icon">

            <use href="/img/sprite.svg#icon-chocolate"></use>
         
          </svg>
     
        </a>

<!-- Навігація -->
<nav class="header-nav">
  <ul class="header-item">
    <li class="header-link">
      <a href="">Home</a>
    </li>

    <li class="header-link">
      <a href="">How it’s made?</a>
    </li>

    <li class="header-link">
      <a href="">Our products</a>
    </li>

    <li class="header-link">
      <a href="">Top sellers</a>
    </li>
    
    <li class="header-link">
      <a href="">Chocolate is loved</a>
    </li>

  </ul>

</nav>

<ul class="header-socials">

  <li class="header-socials-item">
    <a class="" href="https://www.instagram.com/" lang="en"
      ><svg class="header-instagram">
        <use href="/img/sprite.svg#icon-instagram"></use>
      </svg>
      </a>
  </li>

  <li class="header-socials-item">
    <a class="" href="https://twitter.com/?lang=uk"
      ><svg class="header-twiter">
        <use href="/img/sprite.svg#icon-twitter"></use>
      </svg>
      </a>
  </li>

</ul>
        
         
      
      <!-- Кнопка відкриття бургеру -->

      <button  class="menu-toggle js-open-modal">
        <svg class="menu-icon">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    
    </div>

  </header>

<!-- Бургер меню -->

  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="container-btn">

      <button class="menu-close js-modal-close" type="button">
        <svg class="burger-close-icon">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
   
    <nav class="header-nav">
      <ul class="header-item">
        <li class="header-link">
          <a href="">Home</a>
        </li>
    
        <li class="header-link">
          <a href="">How it’s made?</a>
        </li>
    
        <li class="header-link">
          <a href="">Our products</a>
        </li>
    
        <li class="header-link">
          <a href="">Top sellers</a>
        </li>
        
        <li class="header-link">
          <a href="">Chocolate is loved</a>
        </li>
    
      </ul>
    
    </nav>
    
    <ul class="header-socials">
    
      <li class="header-socials-item">
        <a class="" href="https://www.instagram.com/" lang="en"
          ><svg class="header-instagram">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
          </a>
      </li>
    
      <li class="header-socials-item">
        <a class="" href="https://twitter.com/?lang=uk"
          ><svg class="header-twiter">
            <use href="/img/sprite.svg#icon-twitter"></use>
          </svg>
          </a>
      </li>
    
    </ul>

  </div>