<!-- Логотип -->

<header class="header" id="header">

    <div class="container page-header-container">


        <!-- Навігація -->
        <nav class="header-nav">

            <a class="header-logo" href="./index.html"><span><span class="header-logo-text">
                        SIMPLY </span>CHOCOLATE</span>

                <svg class="header-icon">

                    <use href="/img/sprite.svg#icon-chocolate"></use>

                </svg>

            </a>

            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#header">Home</a>
                </li>

                <li class="header-nav-item">
                    <a class="header-nav-link" href="#how-its-made">How it’s made?</a>
                </li>

                <li class="header-nav-item">
                    <a class="header-nav-link" href="#our-products">Our products</a>
                </li>

                <li class="header-nav-item">
                    <a class="header-nav-link" href="#top-sellers">Top sellers</a>
                </li>

                <li class="header-nav-item">
                    <a class="header-nav-link" href="#reviews">Chocolate is loved</a>
                </li>

            </ul>

        </nav>

        <ul class="header-socials">

            <li class="header-socials-item">
                <a class="header-socials-link" href="https://www.instagram.com/" target="_blank"><svg
                        class="header-instagram">
                        <use href="/img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>

            <li class="header-socials-item">
                <a class="header-socials-link" href="https://twitter.com/?lang=uk" target="_blank"><svg
                        class="header-twiter">
                        <use href="/img/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>

        </ul>



        <!-- Кнопка відкриття бургеру -->

        <button class="menu-toggle js-open-menu">
            <svg class="menu-icon">
                <use href="/img/sprite.svg#icon-burger"></use>
            </svg>
        </button>


        <!-- Бургер меню -->

        <div class="mobile-menu js-menu-container" id="mobile-menu">

            <button class="menu-close js-close-menu" type="submit">
                <svg class="burger-close-icon">
                    <use href="/img/sprite.svg#icon-close"></use>
                </svg>
            </button>

            <div class="mobile-menu-container">

                <ul class="header-item-menu">
                    <li class="header-link-menu">
                        <a class="menu-nav" href="#header">Home</a>
                    </li>

                    <li class="header-link-menu">
                        <a class="menu-nav" href="#how-its-made">How it’s made?</a>
                    </li>

                    <li class="header-link-menu">
                        <a class="menu-nav" href="#our-products">Our products</a>
                    </li>

                    <li class="header-link-menu">
                        <a class="menu-nav" href="#top-sellers">Top sellers</a>
                    </li>

                    <li class="header-link-menu">
                        <a class="menu-nav" href="#reviews">Chocolate is loved</a>
                    </li>

                </ul>


                <ul class="header-list-menu">

                    <li class="header-socials-menu">
                        <a class="" href="https://www.instagram.com/" target="_blank"><svg
                                class="header-instagram-menu">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="header-socials-menu">
                        <a class="" href="https://twitter.com/?lang=uk" target="_blank"><svg class="header-twiter-menu">
                                <use href="/img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</header>