<section class="hero">
  <div class="container">
    <h1 class="main-title visually-hidden">Hero</h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <button type="button" class="hero-buy">Buy now</button>
    <a class="hero-made" href="#how-its-made">How it’s made</a>
    <a class="hero-scroll" href="#footer"
      >scroll down<svg class="#">
        <use href="../img/sprite.svg#"></use>
      </svg>
    </a>
  </div>
</section>
