<section class="hero-section section">
  <div class="container">
    <div class="hero">
      <h1 class="main-title visually-hidden">Hero section</h1>
      <p class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="hero-wrapper">
        <button
          type="button"
          class="hero-buy-btn js-open-modal"
          data-modal="modal-buy-now"
        >
          Buy now
        </button>
        <a class="hero-link-made" href="#how-its-made">How it’s made</a>
        <a href="#footer" class="hero-link-scroll">
          <p class="hero-text-scroll">scroll down</p>
          <div class="hero-scroll-wrapper">
            <svg class="hero-icon">
              <use href="/img/sprite.svg#icon-angle"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
