<section class="hero">
  <div class="container">
    <h1 class="main-title visually-hidden">Hero section</h1>
    <p class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <button type="button" class="hero-buy">Buy now</button>
    <a class="hero-made" href="#how-its-made">How it’s made</a>
    <a class="hero-scroll" href="#footer"
      >scroll down<svg class="hero-icon">
        <use href="../img/sprite.svg#icon-angle"></use>
      </svg>
    </a>
  </div>
</section>
