<section class="how-its-made section" id="how-its-made">
  <div class="how-its-made__container container">
    <h2 class="how-its-made__title section-title">
      hOW IT&rsquo;S <span class="section-title-span">made?</span>
    </h2>
    <div class="how-its-made__content">
      <div class="how-its-made__video-wrapper">
        <div class="how-its-made__video" data-src="https://www.youtube-nocookie.com/embed/xqXOMDQhDyU?autoplay=1">
          <svg class="svgicon" width="44" height="44">
            <use href="/img/sprite.svg#play"></use>
          </svg>
        </div>
      </div>
      <div class="how-its-made__text-wrapper">
        <h3 class="how-its-made__subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-its-mate__list">
          <li class="list__item_how-its-mate">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="list__item_how-its-mate">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="list__item_how-its-mate">
            &quot;Mix&quot; the milk mixture and already liquid butter. Mix
            thoroughly with a silicone spatula so that the mass becomes uniform
            and silky.
          </li>
          <li class="list__item_how-its-mate">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="list__item_how-its-mate">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>