<div  class="review-backdrop overlay js-overlay-modal" data-modal="review">
    <div class="review-modal">
        <button class="close-btn">
            <svg class="close-icon">
                <use href="/img/sprite.svg#icon-close">
                </use>
            </svg>

        </button>
        <h2 class="section-title review-modal-title">leave a review 
        <br> about <span class="section-title-span"> our chocolate</span></h2>
        <form class="review-modal-form" action="">
            <label class="review-label" for="">
                <input class="review-input" type="text">
            </label>
            <label class="review-label" for="">
                <input class="review-input" type="text">
            </label>
            <label class="review-label" for="">
            <span class="input-flag">
                <input class="review-input" type="text">
                <span class="flag-phone">
                <svg class="flag-icon">
                    <use href="/img/sprite.svg#icon-flag"></use>
                </svg>
                +380 </span>
            </span>
            </label>
            <label class="review-label" for="">
                <textarea class="review-input review-textarea" type="text"></textarea>
            </label>
        </form>
        <button type="submit" class="send-btn">Send</button>
    </div>
</div>