<div class="modal modal-subscribe-container" data-modal="10">

    <!-- Кнопка закриття -->

    <button class="modal-subscribe-button js-modal-close" type="submit">

        <svg class="modal-subscribe-icon">
            <use href="/img/sprite.svg#icon-close">

            </use>
        </svg>
    </button>

    <!-- Заголовок модалки -->

    <h3 class="modal-title">Explore our <br> <span class="modal-title-text">new chocolate</span> first!</h3>

    <!-- Форма заповнення + кнопка -->

    <div class="modal-subscribe-form">
        <form class="form-subscribe">
            <input class="form-subscribe-mailing" type="email" placeholder="Enter your email">
            <button class="btn-subscribe-mailing js-modal-close" type="submit">Submit
            </button>
        </form>

    </div>
</div>