<div class="modal-subscribe">
    <button class="subscribe-close" type="button">
        <svg class="subscribe-close-icon">
            <use href="./img/sprite.svg#icon-close" ></use>
        </svg>
    </button>
    <img class="modal-subscribe-img-mobile"
         srcset="../img/modal-explore-subscribe/mobile-modal-subscribe.jpg 1x, ../img/modal-explore-subscribe/mobile-modal-subscribe@2x.jpg 2x"
         src="../img/modal-explore-subscribe/mobile-modal-subscribe.jpg"
        alt="photo-chocolate"
        width="311px"
        height="169px"
        />
      <img class="modal-subscribe-img-tablet"
         srcset="../img/modal-explore-subscribe/desktop-tablet-modal-subscribe.jpg 1x, ../img/modal-explore-subscribe/desktop-tablet-modal-subscribe@2x.jpg 2x"
         src="../img/modal-explore-subscribe/desktop-tablet-modal-subscribe.jpg"
        alt="photo-chocolate"
        width="538px"
        height="196px"
      />

    <h2 class="modal-subscribe-text">Explore our <br> <span class="modal-subscribe-text-span"> new chocolate</span> first!</h2>
    <form class="subscribe-form">
        <input class="subscribe-form-input" type="email" placeholder="Enter you email"/>
    <button class="subscribe-button" type="submit">Submit</button>
  </form>
</div>