<section class="our-products">
    <div class="container">
        <h2 class="section-title"> Our&nbsp  <span class="section-title-span">products</span></h2>
        <ul class="our-products-list">
            <li class="our-products-item">
                <h3 class="our-products-title">orange</h3>
                <p class="our-products-desc">Dark chocolate</p>
                <p class="our-products-price">45 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">APPLE&#x26CRANBERRY</h3>
                <p class="our-products-desc">Milk chocolate</p>
                <p class="our-products-price">50 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">lime&#x26;sea salt</h3>
                <p class="our-products-desc">Dark chocolate</p>
                <p class="our-products-price">66 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">pineapple</h3>
                <p class="our-products-desc">Dark chocolate</p>
                <p class="our-products-price">54 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">Classic</h3>
                <p class="our-products-desc">Milk chocolate</p>
                <p class="our-products-price">45 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">honey</h3>
                <p class="our-products-desc">Milk chocolate</p>
                <p class="our-products-price">50 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">Roasted fruits</h3>
                <p class="our-products-desc">Dark chocolate</p>
                <p class="our-products-price">66 UAH</p>
            </li>
            <li class="our-products-item">
                <h3 class="our-products-title">Classic</h3>
                <p class="our-products-desc">White chocolate</p>
                <p class="our-products-price">54 UAH</p>
            </li class="our-products-item">
        </ul>
    </div>
</section>