<section class="our-products section" id="our-products">
  <div class="container swiper-container">
    <h2 class="section-title">
      Our&nbsp;<span class="section-title-span">products</span>
    </h2>
    <div class="our-products__swiper swiper">
      <ul class="our-products-list swiper-wrapper">
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/orange.jpg    1x,
              /img/our-products/orange@2x.jpg 2x
            "
            src="/img/our-products/orange.jpg"
            alt="orange chocolate"
          />
          <h3 class="our-products-title">orange</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <p class="our-products-price">45 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/apple.jpg    1x,
              /img/our-products/apple@2x.jpg 2x
            "
            src="/img//our-products/apple.jpg"
            alt="apple chocolate"
          />
          <h3 class="our-products-title">APPLE&#x26;CRANBERRY</h3>
          <p class="our-products-desc">Milk chocolate</p>
          <p class="our-products-price">50 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/lime.jpg    1x,
              /img/our-products/lime@2x.jpg 2x
            "
            src="/img/our-products/lime.jpg "
            alt="lime chocolate"
          />
          <h3 class="our-products-title">lime&#x26;sea salt</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <p class="our-products-price">66 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/pineapple.jpg    1x,
              /img/our-products/pineapple@2x.jpg 2x
            "
            src="/img/our-products/pineapple.jpg "
            alt="pineapple chocolate"
          />
          <h3 class="our-products-title">pineapple</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <p class="our-products-price">54 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/classic-milk.jpg    1x,
              /img/our-products/classic-milk@2x.jpg 2x
            "
            src="/img/our-products/classic-milk.jpg "
            alt="classic milk chocolate"
          />
          <h3 class="our-products-title">Classic</h3>
          <p class="our-products-desc">Milk chocolate</p>
          <p class="our-products-price">45 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/honey.jpg    1x,
              /img/our-products/honey@2x.jpg 2x
            "
            src="/img/our-products/honey.jpg "
            alt="honey chocolate"
          />
          <h3 class="our-products-title">honey</h3>
          <p class="our-products-desc">Milk chocolate</p>
          <p class="our-products-price">50 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/roasted-fruits.jpg    1x,
              /img/our-products/roasted-fruits@2x.jpg 2x
            "
            src="/img/our-products/roasted-fruits.jpg"
            alt="roasted chocolate"
          />
          <h3 class="our-products-title">Roasted fruits</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <p class="our-products-price">66 UAH</p>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              /img/our-products/classic.jpg    1x,
              /img/our-products/classic@2x.jpg 2x
            "
            src="/img/our-products/classic.jpg "
            alt="classic white chocolate"
          />
          <h3 class="our-products-title">Classic</h3>
          <p class="our-products-desc">White chocolate</p>
          <p class="our-products-price">54 UAH</p>
        </li>
      </ul>
      <div class="our-products__swiper-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
