.how-its-made__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-its-made__title {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .how-its-made__title {
    margin-bottom: 50px;
  }
}

.how-its-made__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .how-its-made__content {
    flex-direction: row;
  }
}

.how-its-made__video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 335px;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/how-its-made/mobile-how-its-made.jpg),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

@media screen and (max-width: 374px) {
  .how-its-made__video {
    width: 315px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .how-its-made__video {
    background-image: url(/img/how-its-made/mobile-how-its-made@2x.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
}

@media screen and (min-width: 768px) {
  .how-its-made__video {
    width: 614px;
    height: 400px;
    background-image: url(/img/how-its-made/tablet-how-its-made.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .how-its-made__video {
      background-image: url(/img/how-its-made/tablet-how-its-made@2x.jpg),
        linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__video {
    width: 600px;
    height: 400px;
    background-image: url(/img/how-its-made/desktop-how-its-made.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .how-its-made__video {
      background-image: url(/img/how-its-made/desktop-how-its-made@2x.jpg),
        linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
  }
}

.svgicon {
  width: 44px;
  height: 44px;
  --play-button-fill: #f5f4f4;
  --play-button-stroke: #f5f4f4;
  transition: width var(--transition-duration-and-func),
    height var(--transition-duration-and-func);
}

.how-its-made__video:hover .svgicon,
.how-its-made__video:hover .svgicon {
  width: 50px;
  height: 50px;
}

.how-its-made__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .how-its-made__image {
    max-width: 600px;
  }
}

.how-its-made__text-wrapper {
  width: 100%;
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .how-its-made__text-wrapper {
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made__text-wrapper {
    min-height: 400px;
  }
}

.how-its-made__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.333;
  max-width: 350px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .how-its-made__subtitle {
    margin-bottom: 28px;
  }
}

.how-its-mate__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 480px;
}

@media screen and (min-width: 1200px) {
  .how-its-mate__list {
    gap: 24px;
  }
}

.list__item_how-its-mate {
  display: flex;
}

.list__item_how-its-mate::before {
  display: flex;
  position: relative;
  top: 5px;
  min-width: 8px;
  height: 8px;
  margin-right: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
  content: '';
}