.review-modal.modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration-and-func);
}

.review-modal.modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.review-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
}

.review-modal {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 311px;
    background-color: #FAFAFA;
    padding: 32px 24px;
    z-index: 5;
}

@media screen and (min-width: 768px) {
    .review-modal {
        max-width: 517px;
        padding: 40px;
    }

}

.review-modal-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
    max-width: 255px;
}

@media screen and (max-width:767px) {
    .review-modal-title {
        max-width: 245px;
    }
}

@media screen and (min-width:768px) {
    .review-modal-title {
        font-size: 24px;
        line-height: 1.16;
        max-width: 298px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:767px) {
    .section-title-span.modal-review-title-span {
        font-size: 19px;
    }
}

.review-modal-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (min-width: 768px) {
    .review-modal-form {
        gap: 19px;
    }

}

.review-input {
    position: relative;
    width: 100%;
    height: 45px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 13px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    color: --main-text-color;
}

.review-phone-input {
    padding-left: 106px;
}

.review-input:placeholder-shown {
    color: rgba(64, 64, 64, 0.3);

}

.review-input:hover,
.review-input:focus {
    border: 1.5px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
    .review-input {
        height: 66px;
        padding-left: 24px;
        font-size: 18px;
        line-height: 1.21;
    }

    .review-phone-input {
        padding-left: 177px;
    }

}

/* .review-label {
    position: relative;
} */
.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    stroke: #111111;
    background-color: transparent;
    top: 20px;
    right: 20px;
    border: none;
    padding: 0;
}

@media screen and (min-width:768px) {
    .close-btn {
        width: 28px;
        height: 28px;
    }
}

.close-icon {
    position: absolute;
    width: 24px;
    height: 24px;
}

@media screen and (min-width:768px) {
    .close-icon {
        width: 28px;
        height: 28px;
    }
}

.input-flag {
    position: relative;
    display: flex;
    justify-content: center;

}

.flag-phone {
    position: absolute;
    height: 25px;
    top: 10px;
    left: 18px;
    padding-right: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    border-right: 2px solid rgba(17, 17, 17, 0.05);
}

@media screen and (min-width:768px) {
    .flag-phone {
        height: 32px;
        top: 17px;
        left: 24px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        padding-right: 32px;
        gap: 18px;
    }

}

.flag-icon {
    width: 24px;
    height: 18px;
}

@media screen and (min-width:768px) {
    .flag-icon {
        width: 32px;
        height: 24px;
    }
}

.review-textarea {
    height: 91px;
    margin-bottom: 18px;
    resize: none;
    padding-top: 22px;
}

@media screen and (min-width: 768px) {
    .review-textarea {
        height: 137px;
    }

}

.send-btn {
    width: 93px;
    height: 41px;
    background-color: #FD9222;
    border-radius: 100px;
    padding: 12px 28px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
}

@media screen and (min-width:768px) {
    .send-btn {
        padding: 14px 40px;
        width: 117px;
        height: 45px;
    }
}