.subscribe.subscribe-section {
  text-align: center;
  color: var(--secondary-text-color);
}

.subscribe .container {
  padding-top: 62px;
  padding-bottom: 63px;
  background-image: url(/img/subscribe/mobile-background-subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 374px) {
  .subscribe .container {
    padding-bottom: 45px;
  }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .subscribe .container {
    background-image: url(/img/subscribe/mobile-background-subscribe@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .subscribe .container {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(/img/subscribe/tablet-background-subscribe.jpg);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe .container {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(/img/subscribe/tablet-background-subscribe@2x.jpg);
  }
}
}

@media screen and (min-width: 1200px) {
  .subscribe .container {
    background-image: url(/img/subscribe/desktop-background-subscribe.jpg);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe .container {
    background-image: url(/img/subscribe/desktop-background-subscribe@2x.jpg);
  }
}
}

.subscribe.section-title {
  max-width: 291px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .subscribe.section-title {
    max-width: 378px;
  }
}

.subscribe-text {
  max-width: 326px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .subscribe-text {
    max-width: 467px;
  }
}

.subscribe-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 28px;
  background-color: var(--accent-color);
  border-radius: 100px;

  font-weight: 600;
  line-height: 1.21;

  color: var(--secondary-text-color);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--secondary-accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .subscribe-button {
    margin-top: 0;
    padding: 14px 40px;
    font-size: 18px;
    line-height: 1.22;
  }
}
