.unique-components {
  padding-top: 72px;
}

@media screen and (min-width: 768px) {
  .unique-components {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-components {
    padding-top: 128px;
  }
}

.unique-components__container {}

.unique-components__text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .unique-components__text_wrapper {
    margin-bottom: 50px;
  }
}

.unique-components__title {
  text-align: center;
  max-width: 283px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .unique-components__title {
    font-size: 24px;
    line-height: 116.67%;
    /* 28/24 */
    max-width: 411px;
    margin-bottom: 28px;
  }
}

.unique-components__paragraph {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .unique-components__paragraph {
    max-width: 486px;
  }
}

.unique-components__cards_wrapper {}

.unique-components__card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .unique-components__card-list {
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-components__card-list {
    gap: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list__item_unique-components:nth-child(3) {
    order: 1;
  }
}

.unique-components__flip-card {
  background-color: transparent;
  width: 335px;
  height: 270px;
  perspective: 1000px;
}

@media screen and (max-width: 374px) {
  .unique-components__flip-card {
    width: 315px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-components__flip-card {
    width: 270px;
  }
}

.unique-components__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.unique-components__flip-card:hover .unique-components__flip-card-inner {
  transform: rotateY(180deg);
}

.unique-components__flip-card-front,
.unique-components__flip-card-back {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 28px;
  border-radius: 15px;
}

.unique-components__flip-card-front {
  justify-content: space-between;
  align-items: center;
}

.card-list__item_unique-components:first-child .unique-components__flip-card-front {
  background-color: var(--accent-color);
}

.card-list__item_unique-components:nth-child(3) .unique-components__flip-card-front {
  background-color: var(--secondary-color);
}

.card-list__item_unique-components:nth-child(2n) .unique-components__flip-card-front {
  border: 1px solid var(--accent-color);
}

.card__image_unique-components {}

.flip-card-front__title_unique-components {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
}

.flip-card-back__title_unique-components {
  font-weight: 600;
  font-size: 18px;
  line-height: 122.22%;
  /* 22/18 */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title__white_unique-components {
  color: #fff;
}

.unique-components__flip-card-back {
  overflow-x: hidden;
  transform: rotateY(180deg);
}

.flip-card__link-list_unique-components {
  display: flex;
  gap: 6px;
  min-width: 214px;
  margin-bottom: 14px;
}

.flip-card__link-item_unique-components {}

.flip-card__link {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 120%;
  /* 12/10 */
  height: 24px;
  padding: 6px 16px;
  border-radius: 35px;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-bg-color);
}

.flip-card__link-item_unique-components:first-child .flip-card__link {
  color: #fff;
  border: none;
  background-color: var(--accent-color);
}

.flip-card__paragraph_unique-components {}